@page "/Candidato/DatosPersonales/"
@using JornalerosApp.Shared.Services
@using Microsoft.AspNetCore.Components.Forms
@using Newtonsoft.Json;
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager Navigation

    
        <EditForm Model="@Persona" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator />
            <BSValidationSummary/>           
            <div class="form-group row mb-1">                
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0" IsRow="true">
                    <BSLabel For="CVCorreo" SM="4">Correo Electrónico</BSLabel>
                    <BSCol SM="6">
                        <BSBasicInput Class="" InputType="InputType.Text" Id="CVCorreo" IsReadonly="true" @bind-Value="@Persona.CorreoElectronico"></BSBasicInput>
                       
                     </BSCol>
                </BSFormGroup>
            </div>
            <div class="form-group row mb-1">
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVNombre" Class="mr-sm-6">Nombre</BSLabel>
                    <BSBasicInput InputType="InputType.Text" Name="Nombre" Id="CVNombre" PlaceHolder="Nombre" @bind-Value="@Persona.Nombre" />
                    <BSFormFeedback For="@(() => Persona.Nombre)" />
                </BSFormGroup>
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVApellido" Class="mr-sm-6">Apellidos</BSLabel>
                    <BSBasicInput InputType="InputType.Text" Name="Apellido" Id="CVApellido" PlaceHolder="Apellido" @bind-Value="@Persona.PrimerApellido" />
                    <BSFormFeedback For="@(() => Persona.PrimerApellido)" />
                </BSFormGroup>
            </div>

            <div class="form-group row mb-1">
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVDNI" Class="mr-sm-6">DNI/NIE</BSLabel>
                    <BSBasicInput InputType="InputType.Text" Name="DNI" Id="CVDNI" PlaceHolder="DNI/NIE" @bind-Value="@Persona.Dni" />
                    <BSFormFeedback InvalidMessage="Error en numero de identidad"  For="@(() => Persona.Dni)" />

                </BSFormGroup>
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVSexo" Class="mr-sm-6">Sexo</BSLabel>
                    <BSBasicInput Id="CVSexo" InputType="InputType.Select" @bind-Value="@Persona.Sexo">
                        @if (Persona.Sexo != null)
                        {
                            @foreach (var item2 in Sexos)
                            {
                                @if (Persona.Sexo.ToString() == item2)
                                {
                                    <option selected value="@item2">@item2</option>
                                }
                                else
                                {
                                    <option value="@item2">@item2</option>
                                }
                            }
                        }
                    </BSBasicInput>
                    <BSFormFeedback For="@(() => Persona.Sexo)" />
                </BSFormGroup>
            </div>

            <div class="form-group row mb-1">
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVFechaNacimiento" Class="mr-sm-6">Fecha de nacimiento</BSLabel>
                    <BSBasicInput InputType="InputType.Date" Name="FechaNacimiento" Id="CVFechaNacimiento" PlaceHolder="Fecha de Nacimiento" @bind-Value="@Persona.FechaNacimiento" />
                    <BSFormFeedback For="@(() => Persona.FechaNacimiento)" />
                </BSFormGroup>

                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVCoche" Class="mr-sm-6">Coche propio</BSLabel>
                    <BSBasicInput Id="CVCoche" InputType="InputType.Select" @bind-Value="@Persona.CochePropio">
                        @if (Persona.CochePropio != null)
                        {
                            @foreach (var item in CochePropismo)
                            {
                                @if (Persona.CochePropio.TrimEnd().ToString().Equals(item))
                                {
                                    <option selected value="@item">@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        }
                    </BSBasicInput>
                    <BSFormFeedback For="@(() => Persona.CochePropio)" />
                </BSFormGroup>
            </div>
            <div class="form-group row mb-1">
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVLocalidad" Class="mr-sm-6">Municipio Residencia</BSLabel>
                    <BSBasicInput InputType="InputType.Select" Name="Localidad" Id="CVLocalidad" PlaceHolder="Localidad" @bind-Value="@Persona.LugarResidencia">
                        @if (Municipios != null && Municipios.Count() > 0)
                        {
                            @foreach (var cnt in Municipios)
                            {
                                @if (Persona.LugarResidencia == cnt)
                                {
                                    <option selected value="@cnt">@cnt</option>
                                }
                                else
                                {
                                    <option value="@cnt">@cnt</option>
                                }
                            }
                        }
                    </BSBasicInput>
                    <BSFormFeedback For="@(() => Persona.LugarResidencia)" />
                </BSFormGroup>
                <BSFormGroup Class="mb-12 mr-sm-12 mb-sm-0 col">
                    <BSLabel For="CVProvincia" Class="mr-sm-6">Provincia</BSLabel>
                    <BSBasicInput InputType="InputType.Select" Name="Provincia" Id="CVProvincia" PlaceHolder="Provincia" Value="@Persona.ProvinciaResidencia" ValueChanged="@((string newValue) => MunicipioSegunProvincia(newValue))">
                      
                        @if (Provincias != null)
                        {
                            @if (Provincias.Count() > 0)
                            {
                                @foreach (var cnt in Provincias)
                                {
                                    @if (Persona.ProvinciaResidencia == cnt)
                                    {
                                        <option selected value="@cnt">@cnt</option>
                                    }
                                    else
                                    {
                                        <option value="@cnt">@cnt</option>
                                    }

                                }
                            }
                        }
                    </BSBasicInput>
                    <BSFormFeedback For="@(() => Persona.ProvinciaResidencia)" />
                </BSFormGroup>
            </div>
            <br />           

        </EditForm>
    

    @code {
        [Parameter] public string Id { get; set; }
        [System.Diagnostics.CodeAnalysis.MaybeNull]
        [Parameter] public Persona Persona { get; set; }
        string[] Sexos = { "", "Masculino", "Femenino" };
        string[] CochePropismo = { "", "si", "no" };
        [Parameter] public EventCallback OnValidSubmit { get; set; }
        [Parameter] public IEnumerable<string> Provincias { get; set; } = new List<string>();
        [Parameter] public IEnumerable<string> Municipios { get; set; } = new List<string>();


        [Parameter]
        public EventCallback<string> OnProvinciaSelection { get; set; }

        protected async Task MunicipioSegunProvincia(string e)
        {            
            await OnProvinciaSelection.InvokeAsync(e);
        }
    }
